.services__cta-box{
    padding-left: 20px;
    padding-right: 20px;
}

.main-menu ul li .sub-menu{
    width: 400px;
}

.services__details-img img, 
.service__details-content img,
.about__3-top,
.about__img img,
.about__img-2 img,
.about__img-2,
.about__3-main img,
.about__3-main,
.price__cta-content{
    clip-path: none;
}

.postbox__text ol{
    list-style: number;
}
.postbox__text ol li{
    list-style: auto;
    margin-bottom: 15px;
}

.maps iframe{
    width: 100%;
    display: block;
}

.logo img,
.footer-widget img{
    width: 100%;
    object-fit: contain;
}
.about__img img,
.about__img-2 img,
.about__3-main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.price__cta-content-shadow{
    margin-bottom: -50px;
}
.about__3-img-wrapper{
    padding-top: 0;
}

.sidebar__logo img{
    width: 50%;
}

.user-box{
    display: inline-block;
    text-transform: none;
    cursor: pointer;
}
.user-box .avatar{
    width: 30px;
    height: 30px;
    float: right;
    padding-top: 4px;
}
.user-box .avatar figure{
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.user-box .avatar figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.user-box h5{
    display: inline-block;
    width: 120px;
    float: right;
    margin-bottom: 0;
    font-size: 13px;
    color: rgba(255,255,255,0.7);
    padding: 10px 30px 10px 10px;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-box h5 a{
    width: 100%;
    float: left;
}
.user-box h5 a:hover{
    color: #fff;
}

.single-input-field input[type="file"]{
    padding-top: 15px;
}

.sidebar__content .user-box{
    margin-bottom: 20px;
}
.sidebar__content .user-box h5{
    color: #555;
    padding-top: 11px;
    font-size: 14px;
}
.sidebar__content .user-box h5 a:hover{
    color: #555;
}

.profile-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.process-item-icon{
    font-size: 48px;
}
.process-item{
    position: relative;
    padding-bottom: 60px;
    height: 160px;
}
.process-item::before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background: #fff;
    border: 10px solid #183881;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.process-item::after{
    content: "";
    width: calc(100% + 30px);
    height: 7px;
    background: #ddd;
    position: absolute;
    left: calc(50% - 9px);
    top: 100%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.col-xl-2:last-child .process-item::after{
    display: none;
}
.process-item-icon{
    color: #D82929;
}
.about__content-inner i{
    margin-right: 10px;
}

.price__cta .about__content{
    background: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    transform: translateY(-30px);
}
.main-menu ul li{
    margin-right: 30px;
}