/*----------------------------------------
    12 . Blog CSS
----------------------------------------*/
@use "../abstract" as *;

.blog{
    &__more-btn{
        display: inline-block;
        a {
            text-transform: uppercase;
            color: var(--clr-common-color-red);
            font-weight: 400;
            font-family: $oswald;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: var(--clr-common-color-red);
            }
        }
        &:hover {
            a{
                color: var(--clr-common-heading);
                &::before {
                    background: var(--clr-common-heading);
                }
            }
        }
    }
    &__item{
        position: relative;
        &-content{
            h2{
                font-size: 24px;
                margin-bottom: 11px;
                @media #{$xl, $lg, $md, $sm, $xs} {
                    font-size: 20px; 
                }
            }
        }
        &-date {
            position: absolute;
            background: var(--clr-common-color-red);
            width: 80px;
            height: 80px;
            text-align: center;
            padding-top: 15px;
            top: 20px;
            right: 20px;
            clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
            mix-blend-mode: multiply;
            @include transition(0.3s);
            @media #{$lg, $md, $sm, $xs} {
                width: 70px;
                height: 70px;
                padding-top: 10px;  
            }
            span{
                color: var(--clr-common-white);
                font-weight: 700;
                text-transform: uppercase;
                font-family: $oswald;
                @media #{$lg, $md, $sm, $xs} {
                    font-size: 16px;
                }
                b {
                    font-size: 40px;
                    display: block;
                    font-weight: 600;
                    color: var(--clr-common-white);
                    margin-bottom: 6px;
                    @media #{$lg, $md, $sm, $xs} {
                        font-size: 25px;
                        margin-bottom: 0px;
                    }
                  }
            }
        }
        &-img{
            overflow: hidden;
            clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
            img {
                clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
                @include transform(scale(1));
            }
        }
        &-content {
            padding-right: 20px;
            h2{
                &:hover{
                    a{
                        color: var(--clr-common-color-red);
                    }
                }
            }

        }
        &:hover{
            .blog{
                &__item{
                    &-img{
                        img{
                            @include transform(scale(1.05));
                        }
                    }
                }
                }
        }
        
    }
    &__meta{
        margin-bottom: 17px;
          span {
            margin-right: 25px;
            position: relative;
            @media #{$sm, $xs} {
                margin-right: 10px;
            }
            i {
                color: var(--clr-common-color-red);
                margin-right: 5px;
            }

            &:hover{
                a{
                    color: var(--clr-common-heading);
                    i{
                        color: var(--clr-common-heading);
                    }
                }
            }
            
            
          }
    }
}

.blog__padding1{
     @media #{$lg, $md, $sm, $xs}{
        padding-top: 180px;
     }
}

.blog-two{
    .blog{
        &__item{
            &-date{
                top: -20px;
            }
            &-img{
                position: relative;
                img{
                    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
                }
            }
        }
        &__title-wrapper{
            margin-top: -47px;
            padding-left: 30px;
            @media #{$md, $sm, $xs} {
                margin-top: -30px;
                padding-left: 0px;
            }
            @media #{$lg,$xl}{
                padding-left: 0;
            }
        }
        &__title-inner{
            display: flex;
            align-items: center;
            padding: 26px 0;
            border-bottom: 1px solid var(--clr-common-border-2);
            :last-child {
                border-bottom: 1px solid transparent;
            }
            .blog{
                &__item{
                    &-date {
                        height: 80px;
                        background: var(--clr-common-color-red);
                        position: inherit;
                        margin-right: 20px;
                        min-width: 80px;
                        @media #{$lg} {
                            min-width: 70px;
                            height: 70px;
                            margin-right: 14px;
                            
                        }
                        @media #{$md, $sm, $xs} {
                            min-width: 70px;
                            height: 70px;
                            margin-right: 14px;
                            
                        }
                    }
                    &-title{
                        h4{
                            font-size:24px;
                            line-height: 34px;
                            @media #{$xl} {
                                font-size: 20px;
                                line-height: 30px
                            }
                            @media #{$lg, $md, $sm, $xs} {
                                font-size: 20px;
                                line-height: 25px
                            }
                            @media #{$xxs} {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            &:hover{
                .blog{
                    &__item{
                        &-date {
                            background: var(--clr-theme-1);
                        }
                    }
                }
                h4{ 
                    color: var(--clr-common-color-red);
                }
            }
        }
        &__meta {
            position: absolute;
            z-index: 1;
            bottom: -17px;
            padding: 15px 20px;
            color:var(--clr-common-white);
            
            @media #{$lg, $md, $sm, $xs} {
                padding: 7px 15px;
                left: -2px;
            }
            &:before{
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                clip-path: polygon(2% 0, 100% 0%, 97% 100%, 0% 100%);
            mix-blend-mode: multiply;
            background:var(--clr-common-color-red);
            }
            a{
                i {
                    color: var(--clr-common-white);
                  }
            }
          }

    }
}

.blog__title-wrapper article:last-child .blog__title-inner{
    border-bottom: 1px solid transparent;
}


// Blog Details CSS Start here
.postbox__wrapper{
    margin-right: 30px;
    @media #{$xl, $lg, $md, $sm, $xs} {
        margin-right: 0px;
    }
}

.postbox__shadow {
	@include border-radius(10px);
	overflow: hidden;
    @include box-shadow(0px 1px 2px 0px rgba(10, 0, 58, 0.14));
}
.postbox__thumb{
	clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    img{
        clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    }
    .play-btn{
        background: var(--clr-common-white);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        &:hover{
            background: var(--clr-common-heading);
            color: var(--clr-common-white);
        }
    }
    &:hover{
        img{
            @include transform(scale(1.05));
        }
    }
}

.postbox__title{
    @media #{$lg, $md} {
        font-size: 24px;
    }
    @media #{ $sm, $xs} {
        font-size: 20px;
    }
}
.postbox-nav{
    button {
        position: absolute;
        left: 0px;
        top: 50%;
        z-index: 1;
        @include transform(translateY(-50%));
        background: var(--clr-common-white);
        color: var(--clr-common-heading);
        display: inline-block;
        clip-path: polygon(13% 0, 100% 0, 87% 100%, 0% 100%);
        &.postbox-slider-button-next {
            left: auto;
            right: 0px;
        }
        i {
            height: 60px;
            width: 75px;
            line-height: 60px;
            @media #{$lg, $md, $sm, $xs} {
                height: 50px;
                width: 50px;
                line-height: 50px; 
            }
        }
        &:hover{
            background: var(--clr-common-heading);
            color: var(--clr-common-white);
        }
    }
}

.postbox-slider-button{
    &-prev i{
        margin-left: 15px;
        @media #{$sm, $xs} {
            margin-left: 5px;
        }
    }
    &-next{
        i{
            margin-right: 15px;
            @media #{$sm, $xs} {
                margin-right: 5px
            }
        }
    }
}


.basic-pagination{
    ul{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        li {
            a, span {
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                @include border-radius(7px);
                border: 1px solid var(--clr-common-border-3);
                font-size: 14px;
                font-weight: 500;
                color: var(--clr-common-heading);
                @media #{$xs} {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                }
                &:hover{
                    background: var(--clr-theme-1);
                    color: var(--clr-common-white);
                }
            }
            & span.current{
                background: var(--clr-theme-1);
                color: var(--clr-common-white);
            }
        }
    }
}



.postbox__content{
    blockquote{
        padding: 30px 40px 5px 40px;
        color: var(--clr-body-text);
        position: relative;
        background: var(--clr-bg-gray);
        font-style: normal;
        text-align: left;
        clear: both;
        font-weight: 400;
        @include border-radius(10px);
        box-shadow: 0px 1px 2px 0px rgba(10, 0, 58, 0.14);
        border: 1px solid var(--clr-common-color-12);
        margin-bottom: 25px;
        @media #{$xs} {
            padding: 30px 25px 5px 25px;
        }
        &::before {
            content: "\f10e";
            position: static;
            font-family: $fontawesome;
            font-size: 32px;
            color: var(--clr-theme-1);
            line-height: 1;
            margin-bottom: 18px;
            display: inline-block;
        }
        cite::before {
            content: "";
            display: inline-block;
            background: var(--clr-theme-1);
            height: 2px;
            width: 40px;
            top: -4px;
            margin-right: 10px;
            position: relative;
        }
    }
}



.blog__author {
	padding: 30px 30px 0 30px;
    @include box-shadow(0px 1px 4px 0px rgba(10, 0, 58, 0.14));
    @include border-radius(6px);
    p{
        margin-bottom: 0px;
    }
}


// Blog Comment CSS Start Here
.post-comment-form{
    h3 {
        margin-bottom: 30px;
    }
}



.comments{
    &-avatar {
        float: left;
        margin-right: 20px;
        img {
            @include border-radius(50%);
        }
    }
    &-text {
        overflow: hidden;
        border-bottom: 1px solid var(--clr-common-color-12);
        padding-bottom: 30px;
        margin-bottom: 30px;
        p {
            margin-bottom: 20px;
        }
    }
}


.avatar-name {
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
    h5 {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: 600;
    }
    span {
        font-size: 14px;
        font-weight: 500;
    }
}

.latest-comments{
    li{
        &.children {
            margin-left: 105px;
            @media #{$sm, $xs} {
                margin-left: 0;
            }
        }
    }
}

.comment-reply {
	font-weight: 500;
	font-size: 14px;
	color: var(--clr-body-heading);
}

.latest-comments li:first-child .comments-box {
	border-top: 0;
	padding-top: 0;
}


// Blog Sidebar CSS Start Here
.sidebar__widget {
	padding: 45px 35px 50px 35px;
	box-shadow: 0px 12px 10px rgba(238, 239, 240, 0.25);
	border: 1px solid var(--clr-common-color-12);
    background: var(--clr-bg-gray-4);
    &.sidebar-contact {
        padding-top: 50px;
        padding-bottom: 45px;
        h2{
            font-size: 30px;
            color: var(--clr-common-color-red);
            font-weight: 700;
            line-height: 1;
            display: inline-block;
            margin-bottom: 0px;
        }
        p{
            color: var(--clr-common-heading);
        }
    }
    img{
        clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    }
    @media #{$lg} {
        padding: 43px 15px 48px 15px;
    }
    @media #{$md, $sm, $xs} {
        padding: 43px 30px 48px 30px;
    }
    @media #{$xs} {
        padding: 43px 15px 48px 15px;
    }
    .single-input-field{
        &::before {
            background: var(--clr-common-white);
        }
    }
}
.sidebar__widget-title{
    font-size: 24px;
}


.sidebar__widget{
    ul{
        li {
            margin-bottom: 15px;
            position: relative;
            z-index: 2;
            background: transparent;
            &:last-child{
                margin-bottom: 0px;
            }
            a{
                padding: 17px 30px;
                font-weight: 500;
                display: block;
                clip-path: polygon(3% 0, 100% 0, 97% 100%, 0 100%);
                color: var(--clr-common-heading);
                background: var(--clr-common-white);
                text-transform: uppercase;
                @media #{$lg,$xxs}{
                    padding: 17px 20px;
                }
                i{
                    margin-right: 15px;
                }
                span{
                    float: right;
                }
            }
            &:hover {
                a{
                    color: var(--clr-common-white);
                    background: var(--clr-theme-1);
                }
            }
        }
    }
}


.rc__post{
    &-content {
        overflow: hidden;
    }
    &-thumb{
        width: 100px;
        float: left;
        margin-right: 10px;
        overflow: hidden;
        clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
        img {
            max-width: 100%;
        }
        &:hover{
            img{
                @include transform(scale(1.05));
            }
        }
    }
    &-title {
        font-size: 16px;
    }
}

.rc__meta {
    margin-top: -7px;
    span {
        font-size: 14px;
    }
}



.tagcloud{
    & > h3 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    a {
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: var(--clr-common-heading);
        padding: 12px 26px;
        display: inline-grid;
        line-height: 1;
        margin: 7px 10px 7px 0;
        position: relative;
        background: transparent;
        z-index: 2;
        @media #{$xs} {
            margin: 7px 7px 7px 0;
        }
        &::before{
            content: '';
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: var(--clr-common-white);
            @include transform(skew(-4deg));
            z-index: -1;
        }
        &:hover{
            &::before{
                background: var(--clr-theme-1);
                border-color: var(--clr-theme-1);
            }
            color: var(--clr-common-white);
        }
    }
    &.details{
        a{
            
            &::before{
                background: var(--clr-common-border-2);
            }
            &:hover{
                color: var(--clr-common-white);
                &::before{
                    background: var(--clr-theme-1);
                }
            }
        }
    }
}