/*----------------------------------------
    15. Contact CSS
----------------------------------------*/
@use "../abstract" as *;
.contact{
    &__shadow{
        filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.04));
    }
    &__info{
        &-item{
            display: flex;
            justify-content: space-between;
            background: var(--clr-common-white);
            padding: 30px 35px;
            align-items: center;
            clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
            position: relative;
            overflow: hidden;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background: var(--clr-common-heading);
                z-index: 1;
                clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
                z-index: -1;
                @include transition(0.3s);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }
            &:hover {
                &::before {
                    width: 100%;
                } 
                .contact{
                    &__info{
                        &-text{
                            h3, span{
                                color: var(--clr-common-white);
                            }
                        }
                    }
                }

            }

            @media #{$lg, $md} {
                padding: 25px;
            }

            @media #{$sm, $xs} {
                padding: 25px 45px;
            }
            @media #{$xs} {
                padding: 20px 50px;
            }
            @media #{$xs} {
                padding: 20px 40px;
            }
            @media #{$xxs} {
                padding: 20px;
            }
        }
        &-text{
            span {
                font-size: 14px;
                line-height: 1;
                text-transform: capitalize;
            }
            @media #{$xl} {
                h3{
                    font-size: 24px;
                }
            }
            @media #{$lg, $md, $sm, $xs} {
                h3{
                    font-size: 22px;
                }
            }
        }
        &-img{
            margin-top: 140px;
        }
        &-icon {
            font-size: 56px;
            color: var(--clr-common-color-red);
            @media #{$lg, $md, $sm, $xs} {
                font-size: 45px;
            }
        }
    }
    &__content{
        padding-right: 40px;
        .section__title h2 {
            margin-bottom: 26px;
            @media #{$xl} {
                font-size: 40px;
            }
            @media #{$lg} {
                font-size: 30px;
            }
        }
        &-btn{
            .fill-btn {
                clip-path: polygon(11% 0%, 100% 0, 89% 100%, 0% 100%);
                padding: 0 42px;
            }
        }
        
    }
    &__bg{
        background-position: center right;
        background-repeat: no-repeat;
    }
}


// Coverage CSS 
.coverage {
	&__area {
		@media #{$xs} {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	&__division {
		padding: 0 62px;
		overflow: hidden;
		@media #{$lg,$md,$xs} {
			padding: 0;
		}
		& > div {
			width: 50%;
			float: left;
			& ul {
				padding-top: 25px;
				& li {
					line-height: 1;
					margin-bottom: 33px;
					& a {
						position: relative;
						padding-left: 26px;
						&:before {
							position: absolute;
							content: "";
							top: 5px;
							left: 0;
							width: 10px;
							height: 10px;
							background: var(--clr-common-color-red);
							@include border-radius(50%);
						}
						&.cont-1:before,
						&.cont-5:before {
							background: var(--clr-common-color-red);
						}
						&.cont-2:before,
						&.cont-6:before {
							background: var(--clr-common-color-red);
						}
						&.cont-3:before,
						&.cont-7:before {
							background: var(--clr-common-color-red);
						}
						&.cont-4:before {
							background:var(--clr-common-color-red);
						}
					}
				}
			}
		}
	}
	&__text {
		& p {
			padding-right: 140px;
			margin-bottom: 0;
			@media #{$lg} {
				padding-right: 70px;
			}
			@media #{$xs} {
				padding-right: 0;
			}
		}
	}
}
.dot {
	position: absolute;
	width: 10px;
	height: 10px;
	background: var(--clr-common-color-red);
    box-shadow: 0px 4px 8px 0px rgba(219, 28, 41, 0.3);
	@include border-radius(50%);
	@include transform(0.3s);
	cursor:pointer;
	@media #{$lg} {
		width: 15px;
		height: 15px;
	}
	@media #{$sm} {
		display: none;
	}
	@media #{$md,$xs} {
		display: none;
	}
	&:hover .dot-inner {
		opacity: 1;
		visibility: visible;
		transform:translateY(0px);
		
	}	
	&.active .dot-inner {
		opacity: 1;
		visibility: visible;
		transform:translateY(0px);
	}
}
.dot-1 {
	top: -127px;
    left: 17%;
	@media #{$lg} {
		left: 35.9%;
	}
	@media #{$md} {
		left: 36%;
	}
	@media #{$xs} {
		display: none;
	}
}
.dot-2 {
	top: 130px;
    left: 44%;
}
.dot-3 {
	top: -155px;
    right: 2%;
}
.dot-4 {
	top: -194px;
    right: -74%;
    @media #{$xxxl} {
        right: -50%;
    }
    @media #{$xxl} {
        right: -30%;
    }
	@media #{$xl, $lg, $md, $sm, $xs}{
		display: none;
	}
}
.dot-5 {
	top: 130px;
    right: -26%;
}

.dot-inner {
	position: absolute;
    bottom: 10px;
    left: -140px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.04);
    opacity: 0;
    visibility: hidden;
    @include transform(translateY(10px));
    z-index: 3;
    @include transition(0.3s);
	&.dot-inner-team{
		visibility: visible;
		opacity: 1;
        bottom: 10px;
	}
    img {
        clip-path: polygon(8% 0px, 100% 0, 92% 100%, 0% 100%);
    }
}

// Contact Page CSS Start Here 
.single-contact-info {
	border-bottom: 1px solid var(--clr-common-color-17);;
	padding-top: 30px;
	padding-bottom: 28px;
    &:last-child{
        border-bottom: none;
        padding-bottom: 0px;
    }
    .contact-info-icon{
        @include transition(0.3s);
        &:hover{
            i{
                color: var(--clr-common-white);
            }
            a{
                background: var(--clr-common-color-red);
                color: var(--clr-common-white);
            }
        }
    }
}

.contact-info-icon {
	margin-right: 20px;
    a {
        height: 65px;
        width: 65px;
        background: var(--clr-common-color-17);
        display: inline-block;
        line-height: 70px;
        text-align: center;
        @include border-radius(50%);
        font-size: 20px;
        color: var(--clr-common-color-red);
        @include transition(0.3s);
    }
}
.contact-info-text{
    span {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        display: inline-block;
    }
    h5 {
        font-size: 20px;
    }
} 

.single-input-field{
        margin-bottom: 20px;
        position: relative;
        background: transparent;
        z-index: 2;
        input , textarea{
            display: block;
            width: 100%;
            height: 64px;
            padding: 0 50px 0 27px;
            border: 2px solid transparent;
            outline: 0;
            background: transparent;
            color: var(--clr-common-heading);
        }
        textarea{
            height: 200px;
            padding: 20px 50px 20px 28px;
            resize: none;
        }
        i{
            position: absolute;
            top: 50%;
            right: 26px;
            color: var(--clr-common-heading);
            @include transform(translateY(-50%));
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border: 2px solid var(--clr-common-border-2);
            @include transform(skew(-4deg));
            z-index: -1;
          }
        .nice-select {
            width: 100%;
            height: 64px;
            line-height: 64px;
            @include border-radius(0px);
            float: none;
            border: none;
            padding: 0;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                border: 2px solid var(--clr-common-border-2);
                @include transform(skew(-4deg));
                z-index: 1;
              }
            span {
                color: var(--clr-common-heading);
                font-family: $oswald !important;
                font-weight: 500 !important;
                text-transform: uppercase;
                margin-left: 29px;
            } 
            &::after {
                border-bottom: 2px solid var(--clr-common-heading);
                border-right: 2px solid var(--clr-common-heading);
                height: 10px;
                right: 30px;
                width: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .list{
                width: 100%;
                z-index: 100;
            }       
        }
        &.select {
            z-index: 3;
            &.select-first {
                z-index: 4;
            }
        }
        &.textarea{
            i{
                top: 25px;
                @include transform(translateY(0px));
            }
        }
}

  