/*----------------------------------------
    08. Work Process CSS 
----------------------------------------*/
@use "../abstract" as *;


.work{
    padding-top: 190px;
    @media #{$xl} {
        padding-top: 175px;
        padding-bottom: 60px;
    }
    @media #{$lg} {
        padding-top: 180px;
        padding-bottom: 30px;
    }
    @media #{$md, $sm, $xs} {
        padding-top: 170px;
        padding-bottom: 120px;
    }
    &__content{
        padding-bottom: 105px;
        padding-top: 8px;
        @media #{$xl, $lg} {
            padding: 0px;
            margin-bottom: 60px;
        }
        @media #{$md, $sm, $xs} {
            padding-bottom: 30px;
            
        }
        &-list{
            @media #{$lg, $md, $sm, $xs} {
                padding-right: 0px;
            }
            @media #{$xs} {
                padding-right: 0px;
                
            }
        }
    }
    &__item{
        display: flex;
        padding-bottom: 15px;
        position: relative;
        &-text{
            h4 {
                margin-bottom: 9px;
            }
        }
        &-num{
            min-width: 60px;
            height: 50px;
            background: var(--clr-common-color-red);
            text-align: center;
            margin-right: 45px;
            clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);

            @media #{$lg} {
                margin-right: 25px;
                
            }
            @media #{$xs} {
                margin-right: 20px;
            }
            
            h5 {
                color: var(--clr-common-white);
                line-height: 49px;
                position: relative;
              }   
        }
        &::before{
            content: "";
            position: absolute;
            width: 2px;
            height: 70%;
            background: var(--clr-common-color-red);
            top: 50px;
            left: 26px;
            @media #{$xl, $lg, $md, $sm} {
                left: 28px;
            }

            @media #{$xs} {
                left: 30px;
                
            }
            @media #{$xs} {
                left: 26px;
                
            }
          }
    }
    &__img{
        padding-top: 30px;
        clip-path: polygon(3% 0px, 100% 34px, 93% 100%, 0% 100%);
        position: absolute;
        bottom: 0;
        @media #{$xxl, $xl, $lg, $md, $sm, $xs} {
            img{
                width: 100%;
            }
        }
        @media #{$xl, $lg} {
            margin-bottom: 60px;
        }
        @media #{$xl, $lg, $md, $sm, $xs} {
            position: relative;
            bottom: auto;
            margin-left: 0;
        }
         img {
            clip-path: polygon(5% 0, 100% 4px, 95% 100%, 0% 100%);
        }
    }
    &__btn{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            @include transform(translateY(-50%));
    }
}
.work__content-list .work__item:last-child::before{
    display: none;
}
