$colors: (
	common: (
		white: #fff,
		black: #000,
		blue: #2785ff,
		heading: #012863,
		text: #777777,
		border: #eaebee,
		border-2:#F3F3F3,
		border-3: #a4abbc,
		border-4: #ebebeb,
		border-5: #3d5375,
		border-6: #575757,
		border-7: #214170,
		border-8: #395173,
		border-9: #e0e3ed,
		border-10: #ffffff12,
		placeholder: #bcbcbc,
		color-red: #db1c29,
		color-red-2: #bc101c,
		color-red-3: #d51b28,
		color-1: #8a9db9,
		color-2: #012863,
		color-3: #999999,
		color-4: #99abc6,
		color-5: #113771,
		color-6: #7e94b5,
		color-7: #001f4f,
		color-8: #8799b4,
		color-9: #465e82,
		color-10: #a2b0c7,
		color-11: #607696,
		color-12: #f2f2f2,
		color-13: #08306c,
		color-14: #f09aa0,
		color-15: #ffefef,
		color-16: #ffffff17,
		color-17: #99abc61c,
		color-18: #f1f1f1,
		color-19: #eeeeee,
		color-20: #d4d4d4,
		color-21: #f5f6f9,
		color-22: #eeeeee1f,
		gray:#f8f8f8,
		placeholder-color: #bcbcbc,
		input-border: #f6f6f6,
		gradient:linear-gradient(to left, #db1c29, #db1c29)



	),
	theme: (
		1:#012863,
		2: #fb5050,
	),
	bg: (
		gray: #f3f4f6,
		gray-2: #f5f5f5,
		gray-3: #f8f8f8,
		gray-4: #f7f7f7,
		gray-5: #f7f7f780,
		black: #000,
		footer: #f6f6f6,
	),
);
